@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-tap-button {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    user-select: none;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

/* Hide scrollbar. Only works desktop. */
body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  -webkit-appearance: none;
}

/* Fallback incase javascript doesn't set the height of --app-height variable */
:root {
  --app-height: 100%;
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding-top: env(safe-area-inset-top);
}

body {
  min-height: calc(var(--app-height) - env(safe-area-inset-top));
}

#layout {
  min-height: calc(var(--app-height) - env(safe-area-inset-top));
}

#top-nav,
#ledger-nav {
  padding-top: calc(env(safe-area-inset-top) - 13px);
}
