@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-tap-button {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    user-select: none;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

/* Fallback incase javascript doesn't set the height of --app-height variable */
:root {
  --app-height: 100%;
}

html,
body,
#layout {
  max-width: 100vw;
  min-height: var(--app-height);
}
